/*/标题*/
#about{
	background:#fff;
}
#about>h1{
    font-size: 35px;
    font-weight: 300;
    color: #fff;
    display: inline-block;
    width: 1080px;
    height: 120px;
    line-height: 120px;
    text-align: center;
    background-color: rgb(98, 168, 234);
}
/*副标题*/
#about>ul{
    display: flex;
    justify-content: space-between;
    width: 500px;
    text-align: center;
    margin: 10px auto;
}
#about>ul>li{
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align:center;
}
#about>ul>li>a{
    font-size:18px;
}
#about>ul>li:nth-child(2)>a{
    color: #4e97d9;
}
#about>ul>li>a:hover{
    color: #4e97d9;
}
/*内容*/
#content{
	background:#fff;
}
#content img{
	display:block;
	width:1020px;
	padding:30px;
	border-top:1px solid  #F5F5F5;
	border-bottom:1px solid  #F5F5F5;
}
#content div{
	padding:30px;
	border-bottom:1px solid  #F5F5F5;
}
#content div>h3{
	line-height:3;
	font-size:20px;
}
#content div>p{
	line-height:2;
	font-size:16px;
}